<section>
    <div class="form-box">
        <div class="form-value">
            <form action="">
                <h2>Мокрое дело</h2>
                <div class="inputbox">
                    <input type="text" required>
                    <label for="">Логин</label>
                </div>
                <div class="inputbox">
                    <input type="password" required>
                    <label for="">Пароль</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Запомнить меня </label>
                </div>
                <button>Войти в приложение</button>
            </form>
        </div>
    </div>
</section>