<nav class="menu">
  <a href="" class="menu__item">
    <span class="material-symbols-outlined menu__ic">finance</span>
    <span class="menu__text">Аналитика</span>
  </a>

  <a href="" class="menu__item">
    <span class="material-symbols-outlined menu__ic">person</span>
    <span class="menu__text">Клиенты</span>
  </a>

  <a href="" class="menu__item">
    <span class="material-symbols-outlined menu__ic">directions_car</span>
    <span class="menu__text">Запись</span>
  </a>

  <a href="" class="menu__item">
    <span class="material-symbols-outlined menu__ic">warehouse</span>
    <span class="menu__text">Склад</span>
  </a>

  <a href="" class="menu__item">
    <span class="material-symbols-outlined menu__ic">settings</span>
    <span class="menu__text">Настройки</span>
  </a>
</nav>
